# Frontend specific ignores
frontend/.next
frontend/node_modules
frontend/out
frontend/.cache
frontend/.env*.local
frontend/.env

# Backend specific ignores
backend/venv
backend/.venv
backend/env
backend/.env
backend/.env.dev
backend/__pycache__
backend/*/__pycache__
backend/*/*/__pycache__
backend/*.py[cod]
backend/*$py.class

# General ignores
**/.DS_Store
**/.idea
**/.vscode
**/Thumbs.db
**/node_modules
**/dist
**/build
**/coverage
**/.nyc_output
**/.env.development
**/.env.test
**/.env.production
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/.pnp
**/.pnp.js
**/bower_components
**/.next
**/out
**/.serverless
**/.fusebox
**/dist
**/target
**/.dynamodb
**/.eslintcache
**/.next
**/cypress/videos
**/cypress/screenshots
**/.svelte-kit
**/.terraform
**/dump.rdb
**/.python-version
**/htmlcov
**/.coverage
**/coverage.xml
**/.pytest_cache
**/*.egg-info
**/*.egg
**/MANIFEST
**/.ipynb_checkpoints
**/junit.xml
**/docker-compose.override.yml
**/docker-data